body {
    background: rgb(70, 142, 236);
    font: normal 15pt Arial, Helvetica, sans-serif;
    transition: background 0.5s ease; /* Transição suave ao mudar de cor */
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356);
}

div {
    text-align: center;
    padding: 10px;
}

#foto {
    margin-top: 10px;
}

#imagem {
    width: 250px;
    height: 250px;
    border-radius: 50%; /* Deixa as fotos redondinhas */
    object-fit: cover;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}
